#contmain{
  width: 600px;
    margin-left: 365px;
    margin-top: 5px;
    background-color: darkgray;
    opacity: 0.8;
    
}
#palcover{
    margin-left: 350px;
    margin-top: 40px;
    color: white;
    
}
#ciaop, #button{
    text-align: center;
    color: white;
}

#barranav{
    margin-left: 400px;
    margin-top: 0px;
}

#body { 

    background-color: dimgrey;
    
}
nav.navbar {
    background-color: dimgrey;
}
#cyp{ 
    margin-top: 90px;
     text-align: center;
    color: white;
}
.navbar{
    background-color: #EAECEE;
}

@media (max-width: 576px) { 
    #nv{
        margin-right: 70px;
    }
    #imagen{ 
    display: none;
    }
    h1{
        text-align: center;
    }
    p{
        text-align: center;
    }
}

@media (max-width: 768px) {
    #nv{
        margin-right: 500px;
    }
    #imagen{
        display: none;
    }
    h1{
       text-align: center
    }
    p{
        text-align: center;
    }
}
    

 
@media (max-width: 992px) { 
    
    #imagen{
        display: none;
    }
     h1{
       text-align: center
    }
    p{
        text-align: center;
    }
}


@media (max-width: 1200px) { 
    
#imagen{
        display: none;
    }
     h1{
       text-align: center
    }
    p{
        text-align: center;
    }
}